bin
*.launch
.settings
.metadata
.classpath
.project

# my minecraft auth credentials for dev env are hardcoded in these these files cant reveal that sorry! will change this later
build.gradle
gradle.properties
gradlew
gradlew.bat

out
*.ipr
*.iws
*.iml
.idea

build
.gradle

eclipse
run

forge*changelog.txt